
html, body, #app{
height: 100%;
margin: 0;
padding: 0;
background-attachment: fixed;
}
body{
    /* background: url(../imgs/qj6624059037.jpg) no-repeat; */
    font-family: Lucida Sans Unicode,Verdana,"Hiragino Sans GB",-apple-system,Microsoft Yahei,sans-serif;
    /* filter:Alpha(opacity=80) ie*/
} 
a{
    text-decoration: none ;
}

 /* #app{
    background: rgba(255, 255, 255, 0.7);
    background-attachment: local, scroll;
    width: 100%;
    content: "";
    z-index: -1;/*-1 毛玻璃*/
   /* -webkit-filter: blur(3px);
    filter: blur(5px); 
}  */

