html, body, #app{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} /*html不能100%, 透明背景会出问题,待研究*/

a{
    text-decoration: none ;
}

h1{
    margin: 0;
    font-family: 'ziti' ;
}
@font-face { 
    font-family: 'ziti' ;
    src: url('../有字库龙藏体.ttf'); 
} 
/* @font-face { 
    font-family: 'zashu' ;
    src: url('../851手写杂书体.ttf'); 
} */

body{
    font-family: Lucida Sans Unicode,Verdana,"Hiragino Sans GB",sans-serif;
    background: url('../imgs/bg.jpg') no-repeat;
    /* position: relative; */
    background-size: cover;
    /* background-size: 100% 100%; */
    background-clip: content-box;
    /* background-attachment: fixed, local, scroll; */
    background-attachment:  fixed;
    overflow: hidden/auto;
} 

@media screen and (max-width: 750px) {
    #app{
        width: 750px;
    }
}

#app{
    box-sizing: border-box;
    
    /* filter:Alpha(opacity=80) ie; */
    background-color: rgba(255, 255, 255, 0.9); 
    content: "";
    z-index: -1; 
    /* -webkit-filter: blur(3px); */
    /* filter: blur(1px);  */               
}

 
@media screen and (max-width: 1260px) {
    .div {
        /**适应1280x800的屏幕,除去浏览器滚动条宽度20px*/
    }
}
@media screen and (min-width: 1261px) and  (max-width: 1346px) {
    .div {
        /**适应1366x768的屏幕,除去浏览器滚动条宽度20px*/
    }
}
@media screen and (min-width: 1347px) and  (max-width: 1420px) {
    .div {
        /**适应1440x900的屏幕,除去浏览器滚动条宽度20px*/
    }
}
@media screen and (min-width: 1421px) and  (max-width: 1900px) {
    .div {
        /**适应1920x1080的屏幕,除去浏览器滚动条宽度20px*/
    }
}
@media screen and (min-width: 1901px) {
    .div {
        /**适应宽度超过1920的屏幕,除去浏览器滚动条宽度20px*/
    }
}
@media screen and (max-height: 668px) {
    .div {
        /**适应1366x768的屏幕,除去浏览器菜单栏、标签栏、状态栏以及系统任务栏高度100px*/
    }
}
@media screen and (min-height: 669px) and  (max-height: 800px) {
    .div {
        /**适应1440x900的屏幕,除去浏览器菜单栏、标签栏、状态栏以及系统任务栏高度100px*/
    }
}
@media screen and (min-height: 801px) and  (max-height: 980px) {
    .div {
        /**适应1920x1080的屏幕,除去浏览器菜单栏、标签栏、状态栏以及系统任务栏高度100px*/
    }
}
@media screen and (min-height: 981px) {
    .div {
        /**适应高度超过1080的屏幕,除去浏览器菜单栏、标签栏、状态栏以及系统任务栏高度100px*/
    }
}